{
	email {$ACME_EMAIL}
}

{$DEMO_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Robots-Tag "noindex, nofollow"
		-Server
	}

	reverse_proxy web:{$APP_PORT}
}
